# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
classes/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.metadata/
bin/
eclipse/
!**/src/main/**/bin/
!**/src/test/**/bin/
*.launch

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
**/.DS_Store

### Windows ###
Thumbs.db
**/Thumbs.db

### (Neo)Forge / Minecraft mod files ###
run/
runs/
runData/
runClient/
runServer/
logs/
.cache/
libs/

### Generated / build artifacts ###
*changelog.txt
src/main/generated/resources/.cache/

### Misc ###
*.hprof
README.txt